<p>page-not-found works!</p>
<ul>
  <li>
    <a routerLink="/auth/login">Ir a login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Ir a register</a>
  </li>
  <li>
    <a routerLink="/heroes/list">Ir al listado de heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/add">Añadir un heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/edit/:id">Editar un heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/search">Buscar un heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/:id">Heroe</a>
  </li>
</ul>
